body {
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    line-height: 1.6;
    margin: 0;
}

nav {
    margin-bottom: 16px;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

a:hover {
    color: #4a4a4a;
    text-decoration: none;
}

.navbar-item:hover {
    color: #4a4a4a;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#page-container {
    position: relative;
    min-height: 97vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

#footer {
    height: 4rem;
}

#footer a {
    color: black;
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

.page-card-list {
    margin: 8px 8px;
}

.page-card-title {
    font-size: x-large;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin-bottom: 8px;
}

.page-card-text {
    margin-top: 16px;
}

.pagination {
    margin: 16px 4px;
}

.pagination a {
    border: none;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.nav-shadow {
    box-shadow: 0 2px 3px rgba(26, 26, 26, .1);
}

.box .article {
    overflow-wrap: break-word;
    font-size: larger;
    word-break: break-word;
    line-height: 1.6;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.normal-container {
    margin: auto;
    max-width: 560px;
    padding: 16px 16px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.item {
    background: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 6px solid;
}

.text {
    font-style: normal;
    font-size: larger;
    line-height: 1.8rem;
    text-align: justify;
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
}

time {
    font-weight: 200;
    color: #bbb;
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    display: inline-block;
}

.id-tag {
    font-weight: 200;
    color: #bbb;
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    display: inline-block;
    float: right;
}


#newBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    color: #4a4a4a;
    cursor: pointer;
    height: 50px;
    width: 50px;
}